[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymongo = {version = "*", extras = ["gssapi", "snappy", "srv", "tls"]}
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.11"
